* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100%;
  width: 100%;
  overflow-x: none;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
.navContainer {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  width: 100vw;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#navList{
    width: 100%;
    margin: 15px;
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navLogo{
    font-size: 2.5rem;
    color: azure;
}
nav {
  width: 100%;
}
a {
  text-decoration: none;
}
#navItems{
    display: flex;
    gap: 40px;
}
footer{
    width: 100%;
}
.footerBox{
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    width: 100%;
    min-height: 30px;
    text-align: center;
}
.footerBox p{
    font-size: 1.5rem;
    color: azure;
}
.contentBox{
    width: 70%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap:100px;
    padding: 3rem;
    box-shadow: 0px 0px 30px black;
}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rightBox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
}
.rightBox img{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    transition: all 0.6s linear 0s;
}
.rightBox:hover{
  transform: scale(1.1);
}
.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.leftBox h2{
    font-size: 2rem;
}
.ingBox{
    font-size: 1.3rem;
}
.recipeBox{
    font-size: 1.1rem;
}
.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 34, 34, 0.713);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s linear 0s;
}
.rightBox:hover .overlay{
    opacity: 1;
}

.rightBox .overlay span{
    color: white;
    font-size: 1.2rem;
}